<div class="spacer"></div>
<hr/>  
<div class="large-12 columns">
<p class="mini-text center-text">Memory Soft es una empresa de informática dedicada al desarrollo de software y programas de gestión, el diseño de páginas y sitios web, 
    el mantenimiento de equipos informáticos y la reparación de ordenadores para supermercados y empresas de venta o distribución. Aunque nuestros 
    principales clientes se encuentran en Menorca y Mallorca, también podemos atender encargos de clientes en Baleares, Barcelona y el resto de España. 
    Contacte con nosotros y le informaremos de todos los detalles.</p>
</div>